{
    "presets": [
      "env",
      "react",
      "stage-0"
    ],
    "plugins": [
      ["import", {
        "libraryName": "antd",
        "style": true,
      }],
      "transform-class-properties",
      "transform-decorators",
      "transform-react-constant-elements",
      "transform-react-inline-elements",
      "styled-components"
    ]
}
